body {
 max-width:650px;
 margin:40px auto;
 padding:0 10px;
 font:18px/1.5;
font-family: "Comic Sans MS", "Comic Sans", cursive;
 color:#444
}
h1,
h2,
h3 {
 line-height:1.2;
 text-align:center;
}
img {
    margin: auto;
    display: block;
}
