<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ block "title" . }} {{.Page.Title}} -- {{ .Site.Title }} {{ end }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="pleb.fi.">
        <title>{{ block "description" . }} {{.Page.Description}} {{ end }}</title>
        <link rel="stylesheet" href="/style.css?v=4">
        <link rel="stylesheet" href="/fa.css?v=1">
        <link rel="me" href="https://twitter.com/PlebFi" >
        <meta name="twitter:dnt" content="on">
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </head>
    <body>

        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>
        {{ block "footer" . }}
        {{ end }}
        <div class="container">
            <a href="/disclaimers" style="color: red">by participating in pleb.fi events you agree to follow linked rules + disclaimer.</a><br>
            {{ partial "footer.html"}}
        </div>
    </body>
</html>
